body {
  font-family: 'Nova Flat', sans-serif;
}

.done {
  text-decoration: line-through;
}

li {
  display: inline-block;
  float: left;
}

input::placeholder {
  opacity: 1;
  color: #000;
}

#data {
  text-align: left;
}

#spinner-overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #00000099;
  justify-content: center;
  align-items: center;
}

#spinner {
  animation: spin 1s ease-in-out infinite;
}

/* Google fonts */
@font-face {
  font-family: 'Nova Flat';
  font-style: normal;
  /*font-weight: 400;*/
  src: local('Nova Flat'), local('NovaFlat'), url(/file/fonts/vFeor41nvsomiEVSx6n4iltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* icon font */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/file/fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


@keyframes spin {
  0% {
    width: 10px;
    height: 10px;
    background-color: green;
    transform: rotate(0deg);
  }
  50% {
    width: 25%;
    height: 25%;
    background-color: orange;
    transform: rotate(360deg);
  }

  100% {
    width: 1rem;
    height: 19px;
    background-color: red;
    transform: rotate(calc(2 * 360deg)); 
  }
}